Obesity Level Prediction 

# 1. Goal of Collecting the Dataset
The goal of this dataset is to predict an individual's obesity level based on various personal, dietary, and lifestyle attributes. Machine learning models can analyze these factors to classify individuals into different obesity categories, such as normal weight, overweight, or obese.

# 2. Source of the Dataset
The dataset is from https://www.kaggle.com/datasets/fatemehmehrparvar/obesity-levels.

## 3. General Information about the Dataset

- Number of Objects (Rows): 2,111
- Number of Attributes (Columns): 17
- *Types of Attributes*: 
  - Numerical: 8 columns (e.g., Age, Height, Weight)
  - Categorical: 9 columns (e.g., Gender, Smoking, Obesity Level)
    
- **Class Name/Label**: The `NObeyesdad` column represents the obesity level, which includes categories like:
  - Normal Weight
  - Overweight Level I
  - Overweight Level II
  - Obesity Type I
  - Obesity Type II

In [3]:
import pandas as pd
df = pd.read_csv('Dataset/dataset.csv');

In [5]:
df.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000